<div class="devise_wrap" id="menu_bk">
  <div class="inset devise_form">
    <h2 class="login_h2">新しくメニューを追加する</h2>
    <div>

      <%= form_for @menu, remote: true do |f| %>
        <%= f.text_field :menu, placeholder: "新しいメニュー", name: "menu", id: "menu_name", class: "login_input" %>
        <%= f.submit "追加", class: "login_input" %>
      <% end %>


    </div>

    <div class="p-container">
      <p><span class="menu_span"><%= current_user.nick_name %>さんのメニュー一覧</span></p>
      <ul class="all_menus">
        <%= render @menus %>

      </ul>
    </div>
  </div>
</div>

<% content_for :footer do %> <% end %>