<% content_for :header do %> <% end %>
<div class="devise_wrap">
  <h1 class="login_h1">muscle partner</h1>
  <p class="sub_title">the best app for your training</p>


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html:{class: 'devise_form'}) do |f| %>
    <%= devise_error_messages! %>
    <div class="inset">
      <h2 class="login_h2">新規登録</h2>
      <p>
          <%= f.label :ニックネーム, class: "login" %><em class="login_em">(10文字以内)</em>
          <%= f.text_field :nick_name, autofocus: true, maxlength: "10", placeholder: "ニックネーム（必須）" ,size: "20",class: "login_input" %>
      </p>
      <p>
          <%= f.label :アイコン画像, class: "login" %>
          <%= f.file_field :icon_image ,class: "file_icon login_input" %>
      </p>

      <p>
        <%= f.label :メールアドレス, class: "login" %>
        <%= f.email_field :email,class: "login_input" %>
      </p>

      <p>
        <%= f.label :パスワード, class: "login" %>
        <% if @minimum_password_length %>
        <em class="login_em">(<%= @minimum_password_length %> 文字以上)</em>
        <% end %>
        <%= f.password_field :password,class: "login_input" %>
      </p>

      <p>
        <%= f.label :パスワード（確認）, class: "login" %>
        <%= f.password_field :password_confirmation,class: "login_input" %>
      </p>

      <p>
        <%= f.submit "Sign up",class: "login_input" %>
      </p>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
<% content_for :footer do %> <% end %>

