<div class="common_wrap devise_wrap">

  <h2 class="sign_up_h2">新規登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field  sign_up_field">
        <%= f.label :ニックネーム %><em>(10文字以内)</em><br />
        <%= f.text_field :nick_name, autofocus: true, maxlength: "10", placeholder: "ニックネーム（必須）" ,size: "20" %>
    </div>
    <div class="field sign_up_field">
        <%= f.label :アイコン画像 %>
        <%= f.file_field :icon_image %>
    </div>

    <div class="field sign_up_field">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email %>
    </div>

    <div class="field sign_up_field">
      <%= f.label :パスワード %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %><br />
      <%= f.password_field :password %>
    </div>

    <div class="field sign_up_field">
      <%= f.label :パスワード（確認） %><br />
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="actions sign_up_field">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
