<div class="devise_wrap tweet_bg">
  <div class="inset devise_form">
    <h2 class="login_h2">UpDate works!</h2>
    <%= form_for @tweet do |f| %>
    <%= f.date_field :work_date, value: @tweet.work_date, class: "login_input" %>
    <%= f.collection_select :menu_name, @menu, :menu, :menu, value: @tweet.menu_name %>
    <%= f.number_field :menu_count, value: @tweet.menu_count, class: "login_input" %>回
    <%= f.text_field :remarks, cols: 20, rows: 5, value: @tweet.remarks, class: "login_input" %>
    <%= button_tag type: "submit", class: "login_input" do %>更新する<% end %>
    <% end %>
    <p class="p-container">
        <span><a href="/tweet/">投稿一覧に戻る</a></span>
    </p>
  </div>
</div>
<% content_for :footer do %> <% end %>