
<div class="clear"></div>
<div class="main_visual">
    <div id="main_title">
      muscle partner
    </div>
</div>
<div class="big_bg">
  <div class="common_wrap">

    <div class="prof_area">
      <div class="table_row">
        <div id="icon_image">
        <% if current_user.icon_image.present? %>
          <%= image_tag current_user.icon_image %>
        <% else %>
          <%= image_tag 'no-images.png', alt: "プロフ画像" %>
        <% end %>
        </div>
        <div id="user_data">
          <%= current_user.nick_name %>
          さんの筋トレデータ<br>
          <a href="/tweet/new/">--筋トレを始める</a><br>
          <a href="/menus/">--メニューを追加する</a><br>
          <a href="/tweet/">--筋トレの軌跡</a>
        </div>
      </div>
      <div class="table_row prof_a">
        <%= link_to 'ユーザー情報編集', edit_user_registration_path %>
      </div>
    </div>
  </div>
</div>

<div class ="graph_bg">
    <div class="graph_area">
      <div id="graph_inner">
        <% @menu_chart_d.each.with_index do |chart, index| %>

          <% if chart.empty? %>

          <% else %>
            <%= line_chart chart, :library => {:curveType => "none", :backgroundColor => "#3A3A3A"}   %>
          <% end %>
        <% end %>
        <% @menu_chart.each do |chart| %>
          <% if chart.empty? %>

          <% else %>
          <%= @menu_name %>
            <%= line_chart chart, discrete: true,:library => {:curveType => "none", :backgroundColor => "#3A3A3A", :hAxis =>{:format => 'M/d', :viewWindowMode => 'maximized', :title => "日付", :titlePosition => 'out',:gridlines => {count: 7}}, :chartArea=>{width: '80%'}} %>
          <% end %>
        <% end %>
      </div>
    </div>
</div>

<% content_for :footer do %> <% end %>


