<% content_for :header do %> <% end %>
<div class="devise_wrap">

  <h1 class="login_h1">muscle partner</h1>
  <p class="sub_title">the best app for your training</p>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html:{class: 'devise_form'}) do |f| %>
  <div class="inset">
      <h2 class="login_h2">Log in</h2>
      <p>
        <%= f.label :ニックネーム, class: "login" %>
        <%= f.text_field :nick_name, autofocus: true,class: "login_input" %>
      </p>

      <p>
        <%= f.label :パスワード, class: "login" %>
        <%= f.password_field :password, autocomplete: "off",class: "login_input" %>
      </p>

      <% if devise_mapping.rememberable? -%>
        <p>
          <%= f.check_box :remember_me, class: "login_input" %>
          <%= f.label :パスワードを記憶させる, class: "login" %>
        </p>
      <% end -%>

      <div class="actions field_login">
        <%= f.submit "ログイン", class: "login_input" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
<% content_for :footer do %> <% end %>