<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

  <title>MusclePartner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>
  $(function() {
      $('#navToggle').click(function(){//headerに .openNav を付加・削除
          $('header').toggleClass('openNav');
      });
  });
  </script>
</head>
<body>
<header>
<% if yield(:header).empty? %>
  <div id="big_head">
    <% if user_signed_in? %>
      <div id="navToggle">
      <div>
        <span></span> <span></span> <span></span>
      </div>
    </div><!--#navToggle END-->
    <nav>
      <ul>
        <li><a href="/user/">My Page</a></li>
        <li><a href="/tweet/new/">投稿する</a></li>
        <li><a href="/menus/">メニューを追加</a></li>
        <li><a href="/tweet/">投稿一覧</a></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>

      </ul>
    <% else %>
      <div>
        <nav>
          <ul>
            <li><%= link_to "ログイン", new_user_session_path %></li>
            <li><%= link_to "新規登録", new_user_registration_path %></li>
          </ul>
        </nav>
      </p>
      </div>
    <% end %>

    </nav>
  </div>
<% else %>
  <%= yield :header %>
<% end %>
</header>

  <%= yield %>

<footer>
  <% if yield(:footer).empty? %>
  <p>ここはfooterだよ</p>
  <% else %>
    <%= yield :footer %>
  <% end %>
</footer>

</body>
</html>
